.footer {
  width: 100%;
  color: var(--color-secondary, #f8f9fa);
  font-family: var( --main-font, 'Raleway');
}

.footer-content {
  padding-inline: 24px;
  background-color: var(--color-primary, #15242a);
}

.footer-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid var(--color-secondary, #f8f9fa);
  padding: 32px;
}

.footer-wrapper-logo {
  flex: 1 0 auto;
}

@media(max-width:1420px) {
    .footer-wrapper-logo {
    flex: initial;
  }
}
.footer-personal {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: center;
  gap: 40px;
}
.footer-title {
width: 100%;
max-width: 566px;
padding-inline-end:10px;
padding-block-start:4px;
color: #F8F9FA;
font-family: var( --main-font, 'Raleway'), Arial, Helvetica, sans-serif;
font-weight: var(--fw-text, 400);
font-size: 16px;
line-height: 1.2;
letter-spacing: var(--letter-spacing-base, 0.05em);
text-align: center;
}

@media(max-width:1420px) {
    .footer-title {
    padding-block-start:0;
  }
}


.footer-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:80px;
  padding-inline: 20px;
  padding-block:32px 38px;
  container-type: inline-size;
  container-name: footer-body;
}

.footer-body-column {
  position: relative;
  padding-block-end: 14px;
  
}

.footer-body-column:not(:last-child)::after{
  content:'';
  position: absolute;
  top:0;
  right:0px;
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--color-secondary, #f8f9fa);
  transform: translateX(35px);
}

@container footer-body (max-width:1040px){
  .footer-body-column:not(:last-child)::after {
    display: none;
  }
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color:var(--color-primary, #15242a);
  background-color: var(--color-secondary, #f8f9fa);
}

@media(max-width:425px){
  .footer-copyright {
    flex-direction: column;
    justify-content: center;
  }
}


.footer-copyright-logo {
  flex: 1 0 auto;
  margin: 0 auto;
  color: var(--color-primary-disabled, #848484);
  font-weight: var(--fw-title, 600);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing-base, 0.05em);
  text-align: center;
}

@media(max-width:425px) {
  .footer-copyright-logo {
    order:2;
  }
}


