.promo-actions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  margin: 0 auto;
  padding-inline:5px;
  padding-block-end: 48px;
  background-color: var(--color-secondary, #f8f9fa);
}

.promo-action-item {
  width: 100%;
  max-width: 445px;
}