.lists-links-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap:24px;
  color: var(--color-secondary, #F8F9FA);
  font-family: var(--main-font, 'Raleway'), Arial, Helvetica, sans-serif;
  background-color: transparent;
}

.list-container {
  margin-bottom: 5px;
}
.list-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-links-title {
  font-weight:var(--fw-title, 600);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: var(--letter-spacing-base, 0.05em);
}

.list-links-title:not(:last-child) {
  margin-block-end: 16px;
}

.list-link {
  overflow-wrap: break-word; 
  font-weight: var( --fw-text, 400);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing-base, 0.05em);
  transition: color .3s ease-in;
  white-space: pre-wrap;
}

.list-link:hover {
  color: var(--color-accent, #67b0d1);
}

.list-link:active{
   color: var(--color-sailing, #e1700e);
}

.list-link:focus {
  outline: none;
}

.list-link:focus-visible {
  border-radius: 5px;
  padding:5px;
  outline: 2px solid var(--color-accent, #67b0d1);
}




