.lists-links-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap:24px;
  color: var(--color-secondary, #F8F9FA);
  font-family: var(--main-font, 'Raleway'), Arial, Helvetica, sans-serif;
  background-color: transparent;
}
/* .lists-links-container:not(:last-child) {
  padding-inline-start:40px;
} */

/* .lists-links-container::before:not(:first-child) {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 1px;
  height: 100%;
  background-color: currentColor;
} */

.list-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-links-title {
  font-weight:var(--fw-title, 600);
  font-size: 20px;
  line-height: 1.15;
}

.list-links-title:not(:last-child) {
  margin-block-end: 16px;
}

.list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  transition: color .3s ease-in;
}

.list-link:hover {
  color: var(--color-accent, #67b0d1);
}

.list-link:active{
   color: var(--color-sailing, #e1700e);
}

