asgiref==3.10.0
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
diff-match-patch==20241021
Django==6.0.1
django-bootstrap5==24.3
django-cors-headers==4.5.0
django-debug-toolbar==6.1.0
django-filter==25.2
django-google-fonts==0.0.3
django-import-export==4.3.14
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
et_xmlfile==2.0.0
Faker==12.0.1
flake8==7.1.1
flake8-docstrings==1.7.0
idna==3.11
import-export==0.3.1
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
openpyxl==3.1.5
pep8-naming==0.14.1
phonenumbers==9.0.19
pillow==11.0.0
psycopg2==2.9.11
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2024.2
PyYAML==6.0.3
redis==7.2.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
six==1.17.0
snowballstemmer==3.0.1
sqlparse==0.5.3
tablib==3.9.0
tinycss2==1.4.0
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
webencodings==0.5.1
