@import "./normalize.css";
@import "./variables.css";
@import "./font.css";

.page {
  font-family: var(--main-font, "Raleway"), Arial, sans-serif;
  font-weight: var(--fw-text, 400);
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--color-secondary, #f8f9fa);
}
