.queries {
  min-width: 208px;
  max-width: 436px;
  padding: 16px 8px;
  opacity: 0;
  /* overflow: hidden;   */
  transition: opacity 0.3s ease-in-out;
}

.queriesOpened {
  opacity: 1;
}

.queryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.queryHeader:not(:last-child) {
  margin-bottom: 8px;
}

.queryTitle {
  color: var(--color-dark-accent, #2f4d5a);
  font-family: var(--main-font, "Raleway");
  font-weight: var(--fw-text, 400);
  font-size: 16px;
  line-height: 1.2;
  background-color: #fff;
}

.queriesBtn {
  position: relative;
  color: var(--color-dark-accent, #2f4d5a);
  font-family: var(--main-font, "Raleway");
  font-weight: var(--fw-text, 400);
  font-size: 16px;
  line-height: 1.2;
}

.queriesBtn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scaleX(0);
}

.queriesBtn:hover::after {
  transform: scaleX(1);
}

.queryList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.query {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 6px;
  opacity: 1;
  transition:
    background-color 0.4s ease-in,
    color 0.4s ease;
  cursor: pointer;
}

.query:hover {
  /* opacity: 0.3; */
  background-color: var(--color-dark-accent, #2f4d5a);
}

.query:hover .queryText {
  color: var(--color-light, #fff);
}

.queryLink {
  display: block;
  flex: 1; /* Занимает всё свободное место */
  min-width: 0;
  overflow: hidden;
}

.queryText {
  display: block;
  overflow: hidden;
  color: var(--color-tertiary, #000000);
  font-family: var(--main-font, "Raleway");
  font-weight: var(--fw-text, 400);
  font-size: 16px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qeryIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 5px;
}
