{% extends "base.html" %}

{% block title %}Andromeda: Главная{% endblock title %}

{% block main %}
  {% include "includes/main_section.html" %}
{% endblock%}

{% block about %}
  {% include "includes/about_section.html" %}
{% endblock about %}

{% block collections %}
  {% include "includes/collections_section.html" %}
{% endblock collections %}

{% block new_products %}
  {% include "includes/new_products_section.html" %}
{% endblock  %}

{% block hits %}
  {% include "includes/hits_section.html" %}
{% endblock %}

{% block comments %}
  {% include "includes/comments_section.html" %}
{% endblock comments %}