{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block main %}
  <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-auto">
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          <h3>Подтверждение SMS‑кода</h1>
        </div>
        <div class="card-body">
          <p>Мы отправили код на номер: {{ form.initial.phone }}</p>
          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.phone }}  {# hidden input #}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Подтвердить" %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
