<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Подтверждение кода</title>
  </head>
  <body>
    <h1>Подтверждение SMS‑кода</h1>
    <p>Мы отправили код на номер: {{ form.initial.phone }}</p>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.phone }}  {# hidden input #}
      <p>
        {{ form.code.label_tag }}<br>
        {{ form.code }}
        {{ form.code.errors }}
      </p>
      <button type="submit">Подтвердить</button>
    </form>

  </body>
</html>