.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-burger  {
  display: none;
}

/* .menu-list_header .menu-burger {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* @media(max-width:768px){ */
/* .menu-burger + .menu-list_header {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; */
/* } */
/* } */

.menu-list {
  display: flex;
  justify-content: space-between;
  /* gap: 16px; */
  gap: var(--gap-icons, 16px);
  padding-top: 2px;
  padding-right: 3px;
}

/* @media(max-width:768px){
  .menu-list {
    display: none;
  }
} */

.menu-list_header {
  --gap-icons: 16px;
  padding-right: 5px;
}

.menu-list_header .menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-list_header .menu-link {
  inline-size: 28px;
}

.menu-list_footer {
  --gap-icons: 0px;
}

.menu-list_footer .menu-link {
  inline-size: 45px;
}

.menu-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  aspect-ratio: 1;
}
.menu-link:focus {
  outline: none;
}

.menu-link:focus-visible {
  outline: 2px solid var(--color-accent, #67b0d1);
}
