SECRET_KEY=andromeda_secret_key
ALLOWED_HOSTS=127.0.0.1 localhost

DEBUG=true

POSTGRES_DB=andromeda_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
DB_NAME=andromeda_db
DB_HOST=127.0.0.1
DB_PORT=5432

AUTH_COOKIE_SECURE=false