.card-product {
  width: 100%;
  max-width: 298px;
  overflow: hidden;
  cursor: pointer;
}

.card-images-container {
  position: relative;
  height: 300px;
  margin-block-end: 24px;
  overflow: hidden;
}

.card-icons-actions {
  position: absolute;
  inset: 16px 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  padding-inline:16px;
}

.card-favorite-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  border-radius: 50%;
  background-color: var(--color-secondary, #F8F9FA);
  aspect-ratio: 1;
}

.card-is-new {
  padding: 4px 8px;
  color: var( --color-tertiary, #000000);
  font-family: var(--main-font, 'Raleway');
  font-weight: var(--fw-text, 400);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  text-transform:capitalize;
  background-color: var(--light-gray, #CEDADF);
}

.card-is-old {
  background-color: transparent;
}

.card-product-descrip {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-product-prices {
  display: flex;
  gap: 10px;
}

.price {
  color: var(--color-primary, #15242A);
  font-family: var(--main-font, 'Raleway');
  font-weight: var(--fw-title, 600);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.old-price {
  color:var(--color-primary-disabled, #848484);
  text-decoration:line-through;
}

.new-price {
  color:var(--color-sailing, #e1700e);
}

.card-product-name {
  color: var(--color-dark-accent, #2F4D5A);
  font-family: var(--main-font, 'Raleway');
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}

.card-product-reviews-rating {
  display: flex;
  gap: 16px;
  font-family: var(--main-font, 'Raleway');
  font-size: 20px;
}

.card-product-reviews,.card-product-rating {
  display: flex;
  align-items:flex-end;
  gap: 8px;
}

.card-product-rating {
  color: var( --color-tertiary, #000000);
}


.card-product-reviews {
  color: var(--expressive-gray, #848484);
}