.wrapperForm {
  width:208px;
  --base-width-form: 208px
  /* padding-inline: 5px; */
  background-color: var(--color-secondary, #f8f9fa);
}

.searchForm {
  --base-width-form: 208px;
  --icon-wrap-width: 18px;
  position: relative;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: var(--base-width-form, 208px);
  height: 28px;
  border-bottom: 1px solid transparent;
}

.searchForm:hover {
  gap: 0;
}
.searchForm:hover .searchIconWrapper {
  /* padding-left: 12px; */
  /* Сдвигаем иконку вправо на всю ширину формы минус её собственный размер */
  transform: translateX(
    calc(var(--base-width-form) - 38px)
  );
}
.searchForm:hover .search-bnt-close {
  opacity: 1;
  transform: translateX(-32px);
}
.searchForm:hover .searchInputContainer {
  /* Сдвигаем инпут влево на место, где была иконка */
  transform: translateX(calc(var(--icon-wrap-width) * -1));
}
.searchForm:hover .searchInputContainer::after {
  transform: scaleX(1);
}

.searchForm:hover .searchInput::placeholder {
  opacity: 0;
}
.searchForm:focus-visible {
  outline: none;
}
.searchForm:focus-within .searchInputContainer::after {
  background-color: var(--color-accent, #67b0d1);
}

.searchForm:disabled .searchInputContainer::after {
  background-color: var(--color-primary-disabled, #848484);
}

.searchIconWrapper {
  z-index: 2;
  display: flex;
  justify-content: center;
  transition: transform 0.4s ease-in-out;
}

.searchInputContainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 160px;
  /* width: 176px; */
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.searchInputContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 160px;
  height: 1px;
  background-color: var(--color-primary, #15242a);
  transition:
    transform 0.35s ease-out,
    opacity 0.2s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.searchInput {
  width: 100%;
  color: var(--color-tertiary);
  font-family: var(--main-font, "Raleway");
  font-weight: var(--fw-text, 400);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.7px;
  background-color: transparent;
}

.searchInput::placeholder {
  opacity: 1;
  color: var(--color-tertiary);
  font-family: var(--main-font, "Raleway");
  font-weight: var(--fw-text, 400);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.7px;
  transition: opacity 0.2s ease-in;
}

.search-bnt-close {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .2s ease-in;
}

