{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'fav/main_fav.png' %}" type="image">
    <title>
      {% block title %}{% endblock %}
    </title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'fonts/nunito.css' %}">
    <link rel="stylesheet" href="{% static "css/boxicons/css/boxicons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/aos/aos.css" %}">
    <link rel="stylesheet" href="{% static 'css/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">    
  </head>
  <body>
    {% include "includes/header.html" %}
    <main>
      {% block main %}{% endblock %}
      {% block about %}{% endblock %}
      {% block collections %}{% endblock %}
      {% block new_products %}{% endblock %}
      {% block hits %}{% endblock %}
      {% block comments %}{% endblock %}
    </main>
    {% include "includes/footer.html" %}
    <script src="{% static 'js/aos/aos.js' %}"></script>
    <script src="{% static 'js/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
