<section id="services" class="services">
  <div class="container">
    <div class="section-title" data-aos="fade-in" data-aos-delay="200">
      <h2>Коллекции в интерьере</h2>
    </div>
    <div class="collections-slider swiper-container" data-aos="fade-in" data-aos-delay="100">
      <div class="swiper-wrapper">
        {% for collection in collections %}
          <div class="swiper-slide p-4">
            <div class="hero-container" data-aos="fade-up">
              <h2>{{ collection.title }}</h2>
              <a href="#" class="btn-get-started">
                <i style="color: white" class="bx bx-chevrons-down"></i>
              </a>
            </div>
            <img style="margin: 0 auto" src="{{ collection.img_url }}" alt="">
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
