{% load static %}

<footer id="footer" class="">
  <div class="footer-top">
      <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer-info shadow">
                <a class="navbar-brand" href="{% url "products:index" %}">
                  <img src="{% static "fav/main_fav.png" %}" alt="" width="40" height="40">
                </a>
                <p class="pb-2"><em>Online-магазин "Andromeda"</em></p>
                <p class="pb-4"><em>Товары для дома и не только...</em></p>
                <p>
                  <p class="pb-2"><strong>Email:</strong> info@andromeda.ru</p><br>
                </p>
                <div class="social-links mt-3">
                  <a href="" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="" class="linkedin" target="_blank"><i class="bi bi-youtube"></i></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Навигация</h4>
              <ul>
                  Сюда сделать навигацию по группам товаров
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Полезные ссылки</h4>
              <ul>
                <li><a href="" target="_blank" class="gc-link">link_1</a></li>
                <li><a href="" target="_blank" class="gc-link">link_2</a></li>
                <li><a href="" target="_blank" class="by-link">link_3</a></li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Наши новости</h4>
              <p>Подпишитесь, чтобы быть в курсе...</p>
              <form action="" method="post">
                <input type="email" name="email">
                <input type="submit" value="Подписаться">
              </form>
            </div>

          </div>
      </div>
  </div>
  <div class="container">
      <div class="copyright">
        &copy;<strong><span>Andromeda</span></strong>
      </div>
      <div class="credits">
        Разработано: <a data-bs-toggle="modal" data-bs-target="#paromModal" href="#"><strong>AndRomeda</strong></a>
      </div>
  </div>
</footer>
