.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
}

.wrapper-subscribe-input {
  flex: 1 0 auto;
  min-width: 272px;
}

.wrapper-btn-subscribe {
  flex: 1 0 auto;
}









