.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 9px 23px;
  background-color: var(--color-secondary, #f8f9fa);
}

.nav {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}
